<p>pieceprestation works!</p>
<div>
    <h2>haha</h2>
</div>
<table class="p-datatable p-datatable-striped p-datatable-sm">
    <thead>
      <tr>
        <th>Mécanicien</th>
        <th>Prestation</th>
        <th>Date</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>Réparation moteur</td>
        <td>01/02/2025</td>
        <td>En cours</td>
      </tr>
      <tr>
        <td>Jane Smith</td>
        <td>Changement de pneu</td>
        <td>03/02/2025</td>
        <td>Terminée</td>
      </tr>
    </tbody>
  </table>
 