<p>detailprestation works!</p>
<div class="container">
    <h2>Détail de la Prestation</h2>
   
      <div>
        <p><strong>Nom Mécanicien :</strong> John Doe</p>
        <p><strong>Prestation :</strong> Réparation moteur</p>
        <p><strong>Date :</strong> 01/02/2025</p>
        <p><strong>Statut :</strong> En cours</p>
        <p><strong>Commentaires :</strong> La réparation est en cours, remplacement du filtre à huile nécessaire.</p>
      </div>
    <button class="p-button p-button-success">Mettre à jour le statut</button>
  </div>