
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Ajout Marque" icon="pi pi-plus" severity="secondary" class="mr-2" 
                 (onClick)="ovrirNouveauMarque()" [disabled]="loading" />
    </ng-template>

    <!-- <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" [disabled]="loading"/>
    </ng-template> -->
</p-toolbar>

<div class="card">

    <!-- Messages d'alerte -->
    <div *ngIf="showMessage" class="p-4 mb-4" 
        [ngClass]="{
            'bg-green-100 border border-green-400 text-green-700': messageType === 'success',
            'bg-red-100 border border-red-400 text-red-700': messageType === 'error'
        }" 
        role="alert">
        <div class="flex justify-between items-center">
            <span class="block sm:inline">{{message}}</span>
            <button (click)="showMessage = false" class="ml-2">
            <span class="pi pi-times"></span>
            </button>
        </div>
    </div>

    <p-progressBar *ngIf="loading" mode="indeterminate" styleClass="mb-4"></p-progressBar>

    <p-table [value]="marques" responsiveLayout="scroll" [loading]="loading">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Liste des Marques</h5>
            </div>
            <br>
        </ng-template>
        <br>

        <ng-template #header>
            <tr>
                <th>Nom</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-marque>
            <tr>
                <td>{{ marque.name }}</td>
                <td>
                    <p-button label="Edit" icon="pi pi-pencil" severity="info" 
                              [style]="{ width: 'auto', marginRight: '8px' }" 
                              (click)="openEditMarqueDialog(marque)" [disabled]="loading" />
                    <p-button label="Delete" icon="pi pi-trash" severity="danger" 
                              [style]="{ width: 'auto' }" 
                              (click)="openConfirmation(marque)" [disabled]="loading" />
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="2" class="text-center">Aucune marque trouvée</td>
            </tr>
        </ng-template>
    </p-table>

    <!-- Modal de suppression -->
    <p-dialog header="Confirmation" [(visible)]="displayConfirmation" [style]="{ width: '350px' }" [modal]="true" [closable]="!loading">
        <div class="flex items-center justify-center">
            <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"></i>
            <span>Êtes-vous sûr de vouloir supprimer cette Marque ?</span>
        </div>
        <ng-template #footer>
            <p-button label="Non" icon="pi pi-times" (click)="closeConfirmation()" text severity="secondary" [disabled]="loading" />
            <p-button label="Oui" icon="pi pi-check" (click)="onDeleteMarque()" severity="danger" outlined autofocus [loading]="loading" />
        </ng-template>
    </p-dialog>
</div>

<!-- Modal d'ajout -->
<p-dialog [(visible)]="ajoutMarque" [style]="{ width: '450px' }" header="Ajout de la Marque" [modal]="true" [closable]="!loading">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="marqueName" class="block font-bold mb-3">Nom</label>
                <input type="text" id="marqueName" pInputText [(ngModel)]="marqueName" name="marqueName" 
                       placeholder="Nom de la Marque" required [disabled]="loading" />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Annuler" icon="pi pi-times" text (click)="hideAjoutMarque()" [disabled]="loading" />
        <p-button label="Enregistrer" (click)="onCreateMarque()" icon="pi pi-check" [loading]="loading" />
    </ng-template>
</p-dialog>

<!-- Modal de modification -->
<p-dialog [(visible)]="editMarqueDialog" [style]="{ width: '450px' }" header="Modifier la Marque" [modal]="true" [closable]="!loading">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Nom</label>
                <input type="text" pInputText id="name" name="name" [(ngModel)]="selectedMarque.name" 
                       required autofocus [disabled]="loading" />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Annuler" icon="pi pi-times" text (click)="hideEditMarqueDialog()" [disabled]="loading" />
        <p-button label="Enregistrer" icon="pi pi-check" (click)="onUpdateMarque()" [loading]="loading" />
    </ng-template>
</p-dialog>
