
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Ajout Marque" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="ovrirNouveauMarque()" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary"/>
    </ng-template>
</p-toolbar>

<div class="card">
    <p-table [value]="marques" responsiveLayout="scroll">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Liste des Marques </h5>
            </div>
            <br>
        </ng-template>
        <br>

        <ng-template #header>
            <tr>
                <th>Nom</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-marque >
            <tr>
                <td>{{ marque.name }}</td>
                <td>
                    <p-button label="Edit" icon="pi pi-pencil" severity="info" [style]="{ width: 'auto', marginRight: '8px' }" (click)="openEditMarqueDialog(marque)" />
                    <p-button label="Delete" icon="pi pi-trash" severity="danger" [style]="{ width: 'auto' }" (click)="openConfirmation(marque)" />
                </td>
                
            </tr>
        </ng-template>
    </p-table>

    
<!--Suppression modal-->
    <p-dialog header="Confirmation" [(visible)]="displayConfirmation" [style]="{ width: '350px' }" [modal]="true">
        <div class="flex items-center justify-center">
            <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
            <span>Êtes-vous sûr de vouloir supprimer cette Marque ?</span>
        </div>
        <ng-template #footer>
            <p-button label="Non" icon="pi pi-times" (click)="closeConfirmation()" text severity="secondary" />
            <p-button label="Oui" icon="pi pi-check" (click)="onDeleteMarque()" severity="danger" outlined autofocus />
        </ng-template>
    </p-dialog>
    
</div>

<!--AJOUT-->
<p-dialog [(visible)]="ajoutMarque" [style]="{ width: '450px' }" header="Ajout de la Marque" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="marqueName" class="block font-bold mb-3">Nom</label>
                <input type="text" id="marqueName" pInputText [(ngModel)]="marqueName"  name="marqueName" placeholder="Nom de le Marque" required fluid />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideAjoutMarque()" />
        <p-button label="Save" (click)="onCreateMarque()" icon="pi pi-check"  />
    </ng-template>
</p-dialog>

<!--UPDATE-->
<p-dialog [(visible)]="editMarqueDialog" [style]="{ width: '450px' }" header="Modifier la Marque" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Nom</label>
                <input type="text" pInputText id="name" name="name" [(ngModel)]="selectedMarque.name" required autofocus fluid/>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideEditMarqueDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="onUpdateMarque()" />
    </ng-template>
</p-dialog>


