

<div class="surface-card  shadow-3 border-round w-full mx-auto ">
  <div class="text-center mb-4">
    <h2 class="text-2xl font-semibold text-primary">Affectation de prestation</h2>
  </div>

  <form (ngSubmit)="createPrestationMecanicien()" class="p-fluid">

    <!-- Sélection de la prestation -->
    <div class="field">
      <label for="prestation" class="text-900 font-medium mb-2">Prestationnnn</label>
      <p-select
        [options]="prestations"
        optionLabel="name"
        optionValue="_id"
        [(ngModel)]="prestationId"
        name="prestation"
        placeholder="Sélectionner une prestation"
        inputId="prestation"
        [filter]="true"
        class="w-full"
        [showClear]="true"
        required>
      </p-select>
    </div>

    <!-- ID du mécanicien -->
    <div class="field">
      <label for="user" class="text-900 font-medium mb-2">ID Mécanicien</label>
      <input
        pInputText
        id="user"
        name="user"
        [(ngModel)]="userId"
        class="w-full"
        placeholder="Entrer l'ID du mécanicien"
        required />
    </div>

    <!-- Bouton de création -->
    <div class="mt-4">
      <button
        pButton
        type="submit"
        label="Affecter"
        class="w-full p-button-primary p-button-raised"></button>
    </div>

    <!-- Message de retour -->
    <div *ngIf="message" class="text-green-600 text-sm mt-3 text-center">
      {{ message }}
    </div>
  </form>
</div>
