<p>mechanicienprestation works!</p>
<div class="container">
    <h2>Prestations de John Doe</h2>
    <table>
      <thead>
        <tr>
          <th>Prestation</th>
          <th>Date</th>
          <th>Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Réparation moteur</td>
          <td>01/02/2025</td>
          <td>En cours</td>
        </tr>
        <tr>
          <td>Changement de pneu</td>
          <td>03/02/2025</td>
          <td>Terminée</td>
        </tr>
      </tbody>
    </table>
  </div>