<p-toast></p-toast>
<p-toolbar styleClass="mb-6">
  <ng-template #start>
      <div class="flex justify-between items-center mb-6">
          <div class="font-semibold text-xl">Liste des pieces</div>
      </div>
  </ng-template>

</p-toolbar>

<!-- <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar> -->


<p-table>
  <ng-template pTemplate="header">
    <tr>
      <th>Nom</th>
      <th>Années</th>
      <th>Modèle</th>
      <th>Prix</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-piece>
    <tr>
      <td>{{ piece.nom }}</td>
      <td>{{ piece.annees }}</td>
      <td><p-tag [value]="piece.model" severity="info"></p-tag></td>
      <td><p-tag [value]="piece.prix + '€'" severity="success"></p-tag></td>
      <td>
        <p-button icon="pi pi-search" label="Détails" class="p-button-sm p-button-outlined"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="empty-state">
  <p>Aucune pièce disponible.</p>
</div>
