<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<!-- Affichage de la liste des pièces -->
<table *ngIf="pieces.length > 0">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Années</th>
      <th>Modèle</th>
      <th>Prix</th>
      <th>actiom</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let piece of pieces">
      <td>{{ piece.nom }}</td> <!-- Affiche le nom de la pièce -->
      <td>{{ piece.annees }}</td>
      <td>{{ piece.model }}</td>
      <td>{{ piece.prix }}</td>
      <td><button type="button">detail</button></td>
    </tr>
  </tbody>
</table>

<!-- Si aucune pièce n'est disponible -->
<div *ngIf="pieces.length === 0">
  Aucune pièce disponible.
</div>
