
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Ajout TypeVehicule" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="ovrirNouveauTypeVehicule()" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary"/>
    </ng-template>
</p-toolbar>

<div class="card">
    <p-table [value]="typeVehicules" responsiveLayout="scroll">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Liste des Types de Vehicules </h5>
            </div>
            <br>
        </ng-template>
        <br>

        <ng-template #header>
            <tr>
                <th>Nom</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-typeVehicule >
            <tr>
                <td>{{ typeVehicule.name }}</td>
                <td>
                    <p-button label="Edit" icon="pi pi-pencil" severity="info" [style]="{ width: 'auto', marginRight: '8px' }" (click)="openEditTypeVehiculeDialog(typeVehicule)" />
                    <p-button label="Delete" icon="pi pi-trash" severity="danger" [style]="{ width: 'auto' }" (click)="openConfirmation(typeVehicule)" />
                </td>
                
            </tr>
        </ng-template>
    </p-table>

    
<!--Suppression modal-->
    <p-dialog header="Confirmation" [(visible)]="displayConfirmation" [style]="{ width: '350px' }" [modal]="true">
        <div class="flex items-center justify-center">
            <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
            <span>Êtes-vous sûr de vouloir supprimer ce type de vehicule ?</span>
        </div>
        <ng-template #footer>
            <p-button label="Non" icon="pi pi-times" (click)="closeConfirmation()" text severity="secondary" />
            <p-button label="Oui" icon="pi pi-check" (click)="onDeleteTypeVehicule()" severity="danger" outlined autofocus />
        </ng-template>
    </p-dialog>
    
</div>

<!--AJOUT-->
<p-dialog [(visible)]="ajoutTypeVehicule" [style]="{ width: '450px' }" header="Ajout de la Type de Vehicule" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="typeVehiculeName" class="block font-bold mb-3">Nom</label>
                <input type="text" id="typeVehiculeName" pInputText [(ngModel)]="typeVehiculeName"  name="typeVehiculeName" placeholder="Nom du Type de Vehicule" required fluid />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideAjoutTypeVehicule()" />
        <p-button label="Save" (click)="onCreateTypeVehicule()" icon="pi pi-check"  />
    </ng-template>
</p-dialog>

<!--UPDATE-->
<p-dialog [(visible)]="editTypeVehiculeDialog" [style]="{ width: '450px' }" header="Modifier le Type de Vehicule" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Nom</label>
                <input type="text" pInputText id="name" name="name" [(ngModel)]="selectedTypeVehicule.name" required autofocus fluid/>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideEditTypeVehiculeDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="onUpdateTypeVehicule()" />
    </ng-template>
</p-dialog>


