<div>
    <h2>État du stock des pièces</h2>
  
    <!-- Liste des pièces avec leur stock -->
    <div *ngIf="pieces.length > 0">
      <ul>
        <li *ngFor="let piece of pieces">
          {{ piece.piece.nom }} : {{ piece.stock }} en stock
          <button (click)="getHistorique(piece.piece._id)">Voir l'historique</button>
        </li>
      </ul>
    </div>
    <div *ngIf="pieces.length === 0">
      <p>Aucune pièce disponible.</p>
    </div>
  
    <!-- Affichage de l'historique des entrées et sorties d'une pièce -->
    <div *ngIf="historique">
      <h3>Historique de la pièce {{ historique.pieceId }}</h3>
      
      <h4>Entrées</h4>
      <ul>
        <li *ngFor="let entrer of historique.entrer">
          Date: {{ entrer.date }} - Quantité: {{ entrer.quantity }}
        </li>
      </ul>
      
      <h4>Sorties</h4>
      <ul>
        <li *ngFor="let sortie of historique.sorties">
          Date: {{ sortie.date }} - Quantité: {{ sortie.quantity }}
        </li>
      </ul>
    </div>
  </div>
  