<p>liste presation work</p>
<div class="container">
    <h2>Liste des Prestations</h2>
    <table>
      <thead>
        <tr>
          <th>Nom Mécanicien</th>
          <th>Prestation</th>
          <th>Date</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Doe</td>
          <td>Réparation moteur</td>
          <td>01/02/2025</td>
          <td>En cours</td>
          <td>
            <button class="p-button p-button-info p-button-sm">Détails</button>
            <button class="p-button p-button-warning p-button-sm">Modifier</button>
          </td>
        </tr>
        <tr>
          <td>Jane Smith</td>
          <td>Changement de pneu</td>
          <td>03/02/2025</td>
          <td>Terminé</td>
          <td>
            <button class="p-button p-button-info p-button-sm">Détails</button>
            <button class="p-button p-button-warning p-button-sm">Modifier</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>