.badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.badge-en-cours {
    background-color: #f59e0b; /* Orange */
}

.badge-termine {
    background-color: #10b981; /* Vert */
}

.badge-autre {
    background-color: #64748b; /* Gris */
}
